name: Build and Push to ACR

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CLIENT_ID: ${{ secrets.CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      TENANT_ID: ${{ secrets.TENANT_ID }}
      SUBSCRIPTION_ID: ${{ secrets.SUBSCRIPTION_ID }}
      acr_registry: ${{ secrets.AZURE_ACR_LOGIN_SERVER }}
      acr_username: ${{ secrets.AZURE_ACR_USERNAME }}
      acr_password: ${{ secrets.AZURE_ACR_PASSWORD }}

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.AZURE_ACR_LOGIN_SERVER }}
          username: ${{ secrets.AZURE_ACR_USERNAME }}
          password: ${{ secrets.AZURE_ACR_PASSWORD }}

      - name: Build and Push Docker image to ACR
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.AZURE_ACR_LOGIN_SERVER }}/boston-housing:${{github.sha}}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Azure CLI
        run: |
          curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

      - name: Install requirements
        run: sudo apt-get update

      - name: Login with service principal
        run: make login
      - name: Create new Revision
        run: |
          az containerapp update \
            --name apiored \
            --resource-group Test_API_Layer \
            --image ${{ secrets.AZURE_ACR_LOGIN_SERVER }}/boston-housing:${{ github.sha }}
           


